html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/img4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.formulario {
    width: 100%;
    max-width: 400px;
    background-color: #cfcfcf;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.formulario a {
    color: #db3026;
    text-decoration: none;
}

.form-control {
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.btn-primary {
    background-color: #db3026;
    border-color: #db3026;
    border-radius: 50px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #85000a;
    border-color: #85000a;
}

.btn-link {
    color: #db3026;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 15px;
}

.btn-link:hover {
    color: #85000a;
    text-decoration: underline;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}