html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    width: 100%;
    background-color: #db3026;
    color: #fff;
    padding: 20px 0;
    margin-top: auto;
}

#rodape h4, #rodape h5 {
    color: #fff; 
}

#rodape a {
    color: #fff;
    text-decoration: none;
}

#rodape a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.foto {
    display: flex;
    justify-content: left;
}

.rounded {
    margin-left: -1.3rem;
}

.rounded img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.row{
    display: flex;
    justify-content: space-around;
}