main{
    width: 80vw;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    td {
        font-size: smaller;
        padding: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
    }
    th {
        font-size: smaller;
    }
    thead {
        height: 20px;
    }
}