main{
    width: 50vw;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    text-transform: uppercase;
}
td a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

td a:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

td a[href*="excluir"] img {
    filter: brightness(0) saturate(100%) invert(35%) sepia(100%) saturate(7477%) hue-rotate(349deg) brightness(93%) contrast(90%);
}

td a[href*="editar"] img {
    filter: brightness(0) saturate(100%) invert(29%) sepia(92%) saturate(442%) hue-rotate(200deg) brightness(96%) contrast(92%);
}

td a[href*="excluir"]:hover img {
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(500%) hue-rotate(10deg) brightness(80%) contrast(80%);
}

td a[href*="editar"]:hover img {
    filter: brightness(0) saturate(100%) invert(20%) sepia(90%) saturate(400%) hue-rotate(210deg) brightness(90%) contrast(85%);
}
