.logo-container {
    position: absolute;
    right: 10px; /* Ajuste conforme necessário */
    background-color: #db3026; /* Cor de fundo azul */
    border-radius: 15px; /* Bordas arredondadas */
    display: flex;
    align-items: center;
    border-right: 10px solid #db3026;
}

.logo-image {
    width: 40px; /* Ajuste para o tamanho desejado */
    height: 40px; /* Ajuste para o tamanho desejado */
}

.logo-text {
    font-size: 16px; /* Tamanho do texto menor */
    color: white; /* Cor do texto */
    margin: 0; /* Remove margens */
}

.nav{
    padding: 1.5px;
}

.nav a{
    color: #db3026;
}

.nav a:hover{
    color: #db3026;
}