html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    font-size: 18px;
    padding: 10px;
    color: white;
    background-color: #db3026;
    position: fixed;
    z-index: 20;
}

.nav a {
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: color 0.3s ease;
}

.nav a:hover {
    scale: 1.2;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.nav a:not(hover) {
    transition: 0.3s ease-in-out;
}

.nav-item i {
    font-size: 1.75rem;
}
  
.social-icons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.img-navegacao {
    width: 35px;
    height: auto;
    margin-top: 3px; 
    margin-right: 12px; 
}

.content-body {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    margin-top: 10px;
  }

.carousel-item {
    height: 750px;
}

#carouselExampleIndicators {
    width: 70%;
    margin: 0 auto;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border: 2px solid #db3026;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-indicators {
    top: 65%;
}

.carousel-caption h5, .carousel-caption p {
    margin: 0;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
}

header {
    background-image: url('../img/img4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
}

.card-body span{
    cursor: pointer;
}

.card {
    display: flex;
    justify-content: center;
    margin: 50px;
    border: 2px solid #db3026;
}

.video-scCortes {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.card-title {
    display: flex;
    justify-content: center;
}

.card-text {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.rounded img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#rodape {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #db3026;
    color: #fff;
}

#rodape h4, #rodape h5 {
    color: #fff;
}

#rodape a {
    color: #fff;
    text-decoration: none;
}

#rodape a:hover {
    color: #d1e9ff;
    text-decoration: underline;
}

.foto {
    display: flex;
    justify-content: left;
}

.rounded {
    margin-left: 0.5rem;
}