.nav {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    font-size: 18px;
    padding: 10px;
    color: black;
    background-color: rgba(0.0.0.0,5);
}

.nav a{
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.social-icons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.img-navegacao {
    width: 35px;
    height: auto;
    margin-top: 3px; 
    margin-right: 12px; 
}

.carousel-item {
    height: 750px; 
}

#carouselExampleIndicators {
    width: 70%;
    margin: 0 auto;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 70%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-indicators{
    top: 65%;
}

.carousel-caption h5, .carousel-caption p {
    margin: 0;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 35%; /* Coloca os botões a 50% da altura */
  transform: translateY(-50%); /* Centraliza os botões verticalmente */
}


header {
    background-image: url('img/img1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
}

.card{
    display: flex;
    justify-content: center;
    margin: 50px;
    border: 2px solid black;
}

.video-scCortes{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.card-title{
    display: flex;
    justify-content: center;
}

.card-text {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.rounded img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#rodape {
    background-color: #000;
    color: #fff;
}
  
#rodape h4, #rodape h5 {
    color: #fff; 
}
  
#rodape a {
    color: #fff;
    text-decoration: none;
}
  
#rodape a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.foto{
    display: flex;
    justify-content: left;
}

.rounded{
    margin-left: 0.5rem;
}